/*
min = not smaller than
max = not greater than
width / height = current or default state
*/

html,body{
    width: 100%;
    margin: 0; 
    padding: 0;
}

body {
    /*width: 100vw;  /* 100% of viewport width */
   /* height: 100vh; /* 100% of viewport height */
    background-color: #fff8e7;
    font-family: "Vast Shadow", "monospace", "courier";
}
.vast-shadow-regular {
    font-family: "Vast Shadow", "monospace", "courier";
    font-weight: 400;
    font-style: normal;
}
.container {
    margin: auto;
    width: 95%;
    min-width: 50%;
    max-width: 100%;
    overflow: hidden;
}
#main-header {
    margin: 0;
    padding: 50px 0;
    background-color: rgb(60, 20, 20);
    color: #fff;
    text-align: center;
}
#main-header h1{
    margin: 0;
    letter-spacing: 5px;
    font-size: 3em;
    font-weight: 400;
}
#main-header h3{
    margin: 0;
    font-weight: 100;
}

/*SECTION*/
#projects{
    padding: 50px 0;
}

#projects .container{
    margin: auto;
}
.web-projects, .sysprog-projects{
    padding: 20px 0;
}
.proj1_h2, .proj2_h2{
    background-image: linear-gradient(to right, #3c1414, #3c1414, #bb6528, #f5f5f5);
    margin: 0 65px 0 65px;
    padding: 10px;
    width: 35%;
    min-width: 35%;
    max-width: 70%;
    font-weight: 500;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: white;
}
.proj-content{
    margin: 50px 350px;
    box-sizing: border-box;
    border-bottom: 2px solid #3c1414;
    border-bottom-left-radius: 15px;   
    position: relative;
    clear: both;
}
.proj-img {
    margin: 0;
    padding: 0;
}
.proj-img img{
    width: 50%;
    min-width: 50%;
    max-width: 100%;
    height: 300px;
    min-height: 300px;
    max-height: 500px;
    float: left;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
.proj-desc{
    height: 300px;
    min-height: 300px;
    max-height: 500px;
    padding-left: 15px;
    overflow-y: auto;
}
.proj-desc h3 {
    margin: 0;
    padding: 0;
    color: #569d56;
    font-weight: 500;
}
.proj-desc p {
    word-break: break-word;
}
.proj-desc .button {
    background-color: #3c1414;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px 10px;
    font-family: "Vast Shadow", serif;
    font-size: 15px;
    color: #fff;
    border-radius: 30px;
    transition-duration: 0.3s;
    cursor: pointer;
}
.proj-desc .button:hover{
    background-color: #fff;
    border: 2px solid #3c1414;
    color: #569d56;
}
.proj-desc .button, .proj-desc span{
    display: inline-block;
    vertical-align: middle;
}
.projImg{
    width: 20px;
    height: 20px;
    float: left;
    padding-right: 5px;
}
#appModal{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    /*overflow: auto;*/ /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.appModal-content{
    margin: auto; 
    width: 50%;
    min-width: 50%;
    max-width: 100%;
    padding: 15px;
    background-color: rgba(60, 20, 20,0.5);
    border: 5px solid #569d56; 
    border-radius: 15px;
}
#appModal video{
    margin: auto;
    display: block;
}
.close-btn{
    color: #fff;
    padding-right: 10px;
    float: right;
    font-size: 50px;
    font-weight: 500;
    cursor: pointer;
}
.close-btn:hover{
    color: #569d56;
    text-decoration: none;
    cursor: pointer;
}

#about {
    background-color: #3c1414;
    padding: 15px 0;
    color: #fff;
    clear: both;          
}
.about-content{
    margin: auto;
    padding-top: 20px;
    width: 50%;
    text-align: center;
}
#about img {
    background-image: linear-gradient(#569d56, #fff, #bb6528);
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    border-top: 1px dashed #569d56;
    border-left: 1px dashed #fff;
    border-right: 1px dashed #fff;
    border-bottom: 1px dashed #bb6528;
    border-radius: 50%;
    display: block;
}
.closingRemark {
    margin-top: 20px;
    letter-spacing: 0.1em;   
}
#contact{
    background-color: #3c1414;
    padding: 15px 0;
    text-align: center;
}
.contact-content{
    margin: auto;
}
#contact img{
    display: inline-block;
    margin: 0 15px
}
#main-footer {
    background-color: #3c1414;
    padding: 15px 0;
    font-size: 14px;
    color: #fff;
    text-align: center;
    border-top: 1px solid #bb6528;
}

@media only screen and (max-width: 720px) {
    .container{
        width: 100%;
    }
    #projects{
        padding-bottom: 10px;
    }
    .web-projects, .sysprog-projects{
        padding: 0;
        clear: both;
    }
    .proj1_h2, .proj2_h2{
        width: 70%;
        float: right;
        margin: 0;
        margin-bottom: 50px;
    }
    .proj-content{
        margin: 50px 20px;
        border-bottom-right-radius: 15px;
    }
    .proj-img img{
        width: 100%;
        height: 300px;
        float: none;
        border-radius: 15px;
    }
    .proj-desc{
        height: auto;
        padding: 5px;
        overflow-y: auto;
    }
    .proj-desc p:last-of-type{
        margin-bottom: 50px;
    }
    .proj-desc .button{
        right: 0;
    }
    .appModal-content{
        width: auto;
        height: auto;
        max-width: 90%;
    }
}

/*on min-width, add .1px to function correctly*/
@media only screen and (min-width: 720.1px) and (max-width: 800px){
    #projects{
        padding-bottom: 10px;
    }
    .web-projects, .sysprog-projects{
        padding: 0;
        clear: both;
    }
    .proj1_h2, .proj2_h2{
        width: 70%;
        float: right;
        margin: 0;
        margin-bottom: 50px;
    }
    .proj-content{
        margin: 50px;
        border-bottom-right-radius: 15px;
    }
    .proj-img img{
        width: 100%;
        height: 300px;
        float: none;
        border-radius: 15px;
    }
    .proj-desc{
        height: auto;
        padding: 5px;
        overflow-y: auto;
    }
    .proj-desc p:last-of-type{
        margin-bottom: 50px;
    }
    .proj-desc .button{
        right: 0;
    }
    .appModal-content{
        width: auto;
        height: auto;
        max-width: 90%;
    }
}

@media only screen and (min-width: 800.1px) and (max-width: 1080px){
    #projects{
        padding-bottom: 10px;
    }
    .web-projects, .sysprog-projects{
        padding: 15px;
    }
    .proj1_h2, .proj2_h2{
        width: 55%;
        margin: 0;
        margin-bottom: 50px;
    }
    .proj-content{
        margin: 50px 80px;
    }
    .appModal-content{
        width: auto;
        height: auto;
        max-width: 90%;
    }
}

@media only screen and (min-width: 1080.1px) and (max-width: 1440px){

    #projects{
        padding-bottom: 10px;
    }
    .web-projects, .sysprog-projects{
        padding: 20px;
    }
    .proj1_h2, .proj2_h2{
        width: 50%;
    }
    .proj-content{
        margin: 50px 150px;
    }
}

@media only screen and (min-width: 2000px) and (max-width: 3000px){
    html,body{
        margin: auto;
        width: 70%;
        max-width: 70%;
        position: relative;
    }
    .container{
        width: 65%;
        max-width: 65%;
    }
    #projects{
        padding-bottom: 10px;
    }
    .web-projects, .sysprog-projects{
        padding: 0;
    }
    .proj1_h2, .proj2_h2{
        width: 55%;
        margin: 0;
        margin-bottom: 50px;
    }
    .proj-content{
        margin: 50px 60px;
        border-bottom-right-radius: 15px;
    }
    .proj-img img{
        width: 100%;
        max-width: 100%;
        height: 300px;
        float: none;
        border-radius: 15px;
    }
    .proj-desc{
        height: auto;
        padding: 5px;
        overflow-y: auto;
    }
    .proj-desc p:last-of-type{
        margin-bottom: 50px;
    }
    .proj-desc .button{
        right: 0;
    }
    #appModal{
        max-height: 98%; /*band-aid fix to avoid height overflow*/
        padding-top: none;
        position: absolute;
    }
    .appModal-content{
        margin: none;
        top: 50%;
        left: 50%;
        width: 60%;
        position: absolute;
        transform: translate(-50%,-50%);
    }
}

@media only screen and (min-width: 3000.1px){
    html,body{
        margin: auto;
        width: 50%;
        max-width: 50%;
        position: relative;
    }
    .container{
        width: 80%;
    }
    #projects{
        padding-bottom: 10px;
    }
    .web-projects, .sysprog-projects{
        padding: 0;
        clear: both;
    }
    .proj1_h2, .proj2_h2{
        width: 50%;
        float: right;
        margin: 0;
        margin-bottom: 50px;
    }
    .proj-content{
        margin: 50px;
        border-bottom-right-radius: 15px;
    }
    .proj-img img{
        width: 100%;
        height: 300px;
        float: none;
        border-radius: 15px;
    }
    .proj-desc{
        height: auto;
        padding: 5px;
        overflow-y: auto;
    }
    .proj-desc p:last-of-type{
        margin-bottom: 50px;
    }
    .proj-desc .button{
        right: 0;
    }
    #appModal{
        max-height: 98%; /*band-aid fix to avoid height overflow*/
        padding-top: none;
        position: absolute;
    }
    .appModal-content{
        margin: none;
        top: 50%;
        left: 50%;
        width: 80%;
        position: absolute;
        transform: translate(-50%,-50%);
    }
}